.reports-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}

.report-container {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.report-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

iframe {
  width: 100%;
  border: none;
}
