/* custom-modal.css */

.modal-dialog {
    max-width: 90%;
  }
  
  .modal-body {
    max-height: 70vh;
    overflow-y: auto;
  }
  
  .table-responsive {
    max-height: 60vh;
    overflow-y: auto;
  }
  
  .save-button,
  .btn {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
  }
  
  .button-group {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .button-group .btn {
    display: flex;
    width: 20%;
    height: 45px;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.5rem;
    font-size: 1.15rem;
  }
  
  .custom-button {
    background-color: #0096ec;
    border: none;
    color: white;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .custom-button:hover {
    background-color: #007ac0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .custom-button:active {
    background-color: #007ac0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset;
  }
  
  .custom-button:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 119, 255, 0.5);
  }
  
  .cancel-button {
    background-color: transparent;
    color: #5d6063;
    transition: color 0.3s, border-color 0.3s;
  }
  
  .cancel-button:hover {
    background-color: transparent;
    color: #b30d0d;
  }
  
  .cancel-button:active {
    background-color: transparent;
    color: #b30d0d;
  }
  
  .cancel-button:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  }
  