.containerLista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bebebe;
  background-size: cover;
}

.filter-container {
  margin-bottom: 20px;

}

.form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  padding-bottom: 15px;
  background-color: #e6e6e6d2;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: auto;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-grow: 1;
  min-height: 97vh;
  max-height: 97vh;
}

.search-bar {
  margin-top: 10px;
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  border: 1px solid #8d8b8b;
  background-color: #e6e6e6;
  border-radius: 4px;
  width: 400px;
}

.avarias-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.avaria-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
}

.avaria-item button {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 10px;
}

.avaria-item:hover {
  background-color: #e4e2e2;
}

.avaria-item .comprador,
.avaria-item .fornecedor,
.avaria-item .perca,
.avaria-item .nota {
  margin-bottom: 5px;
}

.avaria-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.avaria-card-details {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.avaria-detalhes {
  margin-top: 10px;
}

.detalhe-item {
  margin-bottom: 10px;
}

.detalhe-label {
  font-weight: bold;
  margin-right: 5px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.titulo-detalhes {
  margin-bottom: 15px;
}

.back-button {
  position: absolute;
  top: 40px;
  left: 100px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  display: inline-block;
  padding: 8px 12px;
  border: 2px solid #333;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.back-button span {
  margin-right: 5px;
  font-weight: bold;
  font-size: large;
}

.back-button:hover {
  transform: scale(1.05);
  background-color: #333;
  color: #fff;
}

.lista-avarias {
  font-family: Arial, sans-serif;
  margin: 5px;
  text-align: center;
  width: 100%;
  overflow-y: auto;
}

.titulo {
  font-size: 28px;
  margin-bottom: 20px;
}

.avarias-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avaria-item {
  padding: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  max-width: 800px;
  width: 100%;
  transition: background-color 0.3s;
  border-radius: 10px;
  text-align: left;
}

.avaria-item:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.pendente {
  background-color: #ff000081;
}

.resolvido {
  background-color: #00d60080;
}

.avaria-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.avaria-card-details {
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #ccc;
  padding: 30px;
  min-width: 600px;
  max-width: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: left;
  border-radius: 10px;
  position: relative;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #555;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.close:hover {
  transform: scale(1.1);
}

.titulo-detalhes {
  font-size: 20px;
  margin-bottom: 20px;
}

.detalhes {
  font-size: 16px;
}

.detalhe-item {
  margin-bottom: 10px;
}

.detalhe-label {
  font-weight: bold;
  margin-right: 5px;
  color: #555;
}

.avaria-detalhes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.avaria-item .titulo {
  font-weight: bold;
  margin-bottom: 5px;
}

.avaria-item .dados {
  font-weight: normal;
}

.avaria-item button div span {
  display: block;
  text-align: left;
}

.pagination {
  display: flex;
  margin-top: 6px;
  margin-bottom: 0;
  align-items: center;
}

.page-arrow {
  margin: 0 10px;
  font-size: 25px;
  cursor: pointer;
}

.page-numbers {
  display: flex;
  align-items: center;
}

.page-number {
  margin: 0 5px;
  font-weight: bold;
}
