.containerLista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-left: 70px;
  background-color: #cecece;
  padding: 20px;
}

.filter-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.search-bar {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.store-select,
.note-number-input,
.department-select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 200px;
  margin-bottom: 20px;
  margin-left: 5px;
  max-width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #e6e6e6d2;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
}

.avarias-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.avaria-content {
  display: flex;
  align-items: center;
}

.filial-box {
  width: 60px;
  height: 60px;
  background-color: #f1f1f1;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 5px;
}

.avaria-info {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.avaria-item {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.avaria-item:hover {
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}

.avaria-item .nota,
.avaria-item .comprador,
.avaria-item .fornecedor,
.avaria-item .perca {
  margin-bottom: 5px;
}

.enviado {
  border-left: 5px solid #f0e68c;
}

.resolvido {
  border-left: 5px solid #98fb98;
}

.cancelado {
  border-left: 5px solid #f08080;
}

.em-tratamento {
  border-left: 5px solid #add8e6;
}

.avaria-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.avaria-card-details {
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #ccc;
  padding: 30px;
  min-width: 600px;
  max-width: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: left;
  border-radius: 10px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.titulo-detalhes {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.avaria-detalhes {
  margin-bottom: 20px;
}

.detalhe-item {
  margin-bottom: 10px;
}

.detalhe-label {
  font-weight: bold;
}

.edit-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.edit-button:hover {
  background: #45a049;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-arrow {
  cursor: pointer;
  font-size: 24px;
  padding: 0 10px;
}

.page-arrow[disabled] {
  color: #ccc;
  cursor: not-allowed;
}

.page-numbers {
  display: flex;
  align-items: center;
}

.page-number {
  margin-left: 5px;
  font-weight: bold;
}

.back-button {
  align-self: flex-start;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .form1 {
    padding: 1.5rem;
  }

  .avaria-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .filial-box {
    margin-bottom: 10px;
  }

  .search-bar {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
  }

  .store-select,
  .department-select {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
  }

  .avaria-card-details {
    width: 95%;
  }
}
