.sidebar {
    height: 100%;
    width: 70px;
    padding: 8px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f0f0ec;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    transition: width 0.3s;
    overflow: hidden;
    z-index: 100;
  }
  
  .sidebar:hover {
    width: 110px;
    justify-content: start;
  }
  
  .sidebar-icon {
    color: #2c3e50;
    font-size: 24px;
    margin: 10px 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s, background-color 0.3s;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    flex-direction: column;
  }
  
  .sidebar-icon span {
    margin-top: 5px;
    font-size: 16px;
    display: none;
  }
  
  .sidebar:hover .sidebar-icon span {
    display: inline;
  }
  
  .active {
    background-color: #ff6c6cd3;
    color: #2c3e50;
  }
  
  .active:hover {
    background-color: #e45d5dd3;
  }
  
  .sidebar-icon svg {
    min-width: 24px;
    min-height: 24px;
  }
  
  @media only screen and (max-width: 768px) {
    .sidebar {
      width: 60px;
      padding: 5px;
    }
    
    .sidebar:hover {
      width: 60px;
    }
    
    .sidebar-icon span {
      display: inline;
      margin-top: 5px;
      font-size: 12px;
    }
    .sidebar-icon {
      padding: 5px;
    }
  }