.sidebar {
  width: 275px;
  transition: transform 0.3s ease;
}

.sidebar.hide {
  transform: translateX(-100%);
}

.sidebar.show-icons .icon-button {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    transform: translateX(0);
  }

  .sidebar.show-icons .icon-button {
    display: block;
  }
}
