@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}

.nav-item,
.navbar {
  display: inline;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Estilos do Sidebar */
.Sidebar {
  height: 100%;
  overflow: auto;
  padding-bottom: 10px;
  width: 275px;
}

.Sidebar-logo {
  display: flex;
  margin: auto;
  margin-top: 25px;
  margin-bottom: -20px;
  width: 60%;
}

.Sidebar .activeLink {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 4px;
  padding-top: 3px;
  padding-bottom: 2.5px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  margin: 2px;
  background-color: #4b5563;
}

.Sidebar .normalLink {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 4px;
  padding-top: 3px;
  padding-bottom: 2.5px;
  border-radius: 10px;
  color: #6b7280;
  font-size: 16px;
  margin: 2px;
}

.Sidebar .normalLink:hover {
  color: black;
  background-color: #f3f4f6;
}

a {
  padding-top: 10px;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: auto;
}

.capitalize {
  text-transform: capitalize;
}

@media screen and (max-width:800px) {
  .sidebar {
    z-index: 10000000;
  }
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgb(207, 207, 207);
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

#preview {
  background: transparent url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png') no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: none;
}